@page "/MemaTestaGame"

@using InstaMemaTesta.Models

<div class="MemaTestaGameBoard" style="opacity:1;">
    <div>There are @NumberofCircls() circles here</div>
    @foreach (NumberCircle circ in circles)
    {
        <div style="
        position:absolute;
        top: @(circ.Top)px;
        left: @(circ.Left)px;
        background-color: yellow;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: @(circ.Radius)px;
        height: @(circ.Radius)px;
"></div>
    }

</div>
@code {
    private List<NumberCircle> circles = new List<NumberCircle>();

    private int NumberofCircls() => circles.Count();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        for (int i = 0; i < 800; i = i + 80)
        {
            for (int j = 0; j < 600; j = j + 80)
            {
                circles.Add(new NumberCircle
                {
                    Left = i,
                    Top = j,
                    Radius = 80
                });
            }
        }
    }
}
